@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/mqmobile";

main {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 30px;
    min-height: calc(100vh-100px-300px);
    margin-bottom: 100px;
  }

  .grid-container img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
